/* Poppins Font Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap");

/* Css Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

/* Global styles */
html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  color: #ffffff;
}

h1 {
  font-weight: 800;
  font-size: 2.8rem;
}

h2 {
  font-weight: 900;
  font-size: 14.4rem;
}

h3 {
  font-weight: 900;
  font-size: 7.5rem;
}

h4 {
  font-weight: 500;
  font-size: 2.4rem;
}

h5 {
  font-weight: 500;
  font-size: 64px;
}

h6 {
  font-weight: 700;
  font-size: 96px;
}

li {
  font-weight: 500;
  font-size: 1.8rem;
}

p {
  font-weight: 500;
  font-size: 1.8rem;
}

a {
  text-decoration: none;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoCenter {
  display: flex;
  justify-content: center;
}

/* Section styles starting here */

/* Home Section */
.home {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #fa8484 0%, #ffa5a5 71.87%, #ffa5a5 100%);
}

header {
  padding: 3% 0 2% 3%;
}

.homeCont {
  display: flex;
  width: 100%;
  height: 90vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3%;
}

.heroText {
  margin-bottom: 5%;
  visibility: hidden;
}

.heroImage {
  padding: 2%;
  visibility: hidden;
}

.heroImage img {
  width: 250px;
  height: 250px;
  border-radius: 25px;
  box-shadow: 0px 0px 50px 15px rgba(0, 0, 0, 0.3);
}

.botCont {
  padding: 2% 0 3% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

/* Background Section */
.bg {
  background: linear-gradient(
    180deg,
    #a3b794 0%,
    #6c8559 25.56%,
    #384031 45.17%,
    #000000 100%
  );
}

/* Benefits Section */
.benefitCard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 0;
}

.textCont {
  width: 30%;
  margin: 0 2%;
}

.textCont h4 {
  margin-bottom: 2%;
}

.benefitCard img {
  border-radius: 25px;
  box-shadow: 0px 0px 50px 15px rgba(0, 0, 0, 0.3);
}

/* Menu Section */
.menuMain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.leftCont p {
  padding: 3%;
  margin: 0 2%;
}

.rightCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18%;
  margin: 0 2%;
}

.menuCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 175px;
  margin: 2%;
  background: linear-gradient(180deg, #a8cd8b 0%, #395c1e 100%);
  border-radius: 25px;
  box-shadow: 0px 0px 50px 15px rgba(0, 0, 0, 0.3);
}

.videoGrid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.videoCard {
  margin: 2%;
}

/* Plan Section */
.plans {
  display: flex;
  flex-direction: column;
}

.planCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 325px;
  margin: 1% 0;
  border-radius: 25px;
}

.planCard h5 {
  color: #000000;
}

/* Challenge Section */
.challengeText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.challengeText p {
  width: 40%;
}

/* News Section */

.newsCard {
  margin: 1% auto;
  width: 40%;
  height: 250px;
}

.newsBg {
  width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  box-shadow: 0px 0px 50px 15px rgba(0, 0, 0, 0.3);
}

.newsBg h4 {
  color: #ffffff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: rgba(70, 70, 70, 0.5);
  padding: 1%;
}

/* Credit Section */
footer {
  margin-top: 5%;
  text-align: center;
}

.creditsCont {
  margin: 2%;
}

.creditsCont p {
  margin: 0.5%;
}

.creditsCard {
  color: #ffffff;
}

.invertVideo {
  transform: rotateY(180deg);
}
